body {
    background-image: url("../background.jpg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-top: 200px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 50px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#player-cards {
    margin-bottom: 50px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

button:hover:not(:disabled) {
    cursor: pointer;
}

button:disabled {
    opacity: 0.5;
    cursor: default;
}

#dealer {
    margin-bottom: 40px;
}

#bets {
    margin-bottom: 50px;
}

#buttons {
    margin-bottom: 50px;
}

#play-btn {
    background: darkred;
    cursor: pointer;
}

#stand-btn {
    background: darkgreen;
}

#hit-btn {
    background: plum;
}

#doubleDown-btn {
    background: lightgreen;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

#logout-btn {
    padding: 10px 20px;
    background-color: #ff4d4d;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.logout-btn:hover {
    background-color: #e60000;
}